VITE_SUPABASE_URL=https://xiieyrbqsjnpdphyjioi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpaWV5cmJxc2pucGRwaHlqaW9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5MjA4OTgsImV4cCI6MjEwMTQ5Njg5OH0.Js8U1dCRzdoDS63tEBSY42y43x35Vx_afPIYsis7i8U
